<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <ul class="social">
                        <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3 div-copyright">
                    <i class="fa fa-copyright" aria-hidden="true">  Cloter G. Barbosa Jr. 2017</i>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
</footer>