.navbar-search-form input[type="text"] {
    width: 400px;
    margin: 0;
    background: none;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px;
    color: #777;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.navbar-header.logo{
    border-right: 1px solid #e7e7e7;
}

span.search{
    font-size: 20px;
    cursor: pointer;
}

.viewing-count{
    padding: 15px 50px 15px 15px;
    font-size: 12px;
}

.nav-1{
    margin-bottom: 0;
    border-bottom: 0;

    .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }
}
li.login, li.language, li.bag{
    border-left: 1px solid #e7e7e7;
}

.login{
    a{
        font-weight: bold;
    }
}

li.language{
    padding: 15px;
    
    .fa-globe{
            font-size: 18px;
            cursor: pointer;
    }
}

li.bag{
    padding: 15px 50px 15px 15px;

    .fa-shopping-bag{
        font-size: 18px;
        cursor: pointer;
    }
    
    span{
        font-size: 10px;
        border-radius: 25px;
        width: 20px;
        position: absolute;
        text-align: center;
        top: 5px;
        left: 25px;
        color: #21bdc5;
    }
}
#bs-navbar-collapse-2{
    border-top: 1px solid #e7e7e7;
}

#bs-navbar-collapse-3{
    img{
    position: relative;
    width: 100%;
    height: 260px;
    }
}

#bs-navbar-collapse-4{
    background: #525152;
    color: #ebeaf0;

    ul.sort{
        padding: 13px;

        select{
            margin-left: 10px;
            background: transparent;
            border: 0;
            padding-right: 40px;
            cursor: pointer;
            background: #525152;
            color: #ebeaf0;
        }
    }
}