/* You can add global styles to this file, and also import other style files */
menu{
    margin: 0;
    padding: 0;

    .navbar{
        border-radius: 0;
    }

    a.navbar-brand{
        img{
            width: 60px;
            top: -20px;
            position: relative;
        }
    }
}

.img-product{
    cursor: pointer;
}